* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box {
  height: 200px;
  width: 200px;
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
